
@{
    ViewData["Title"] = "Index";
}

<h2>Admin Page</h2>

<button style="float: right"><a class="menuItems" href="@Url.Action("ViewCreateComponent", "Component")">Create Component</a></button>
<button style="float: right"><a class="menuItems" href="@Url.Action("ViewCreateComponentType", "ComponenetType")">Create ComponentType</a></button>
<button style="float: right"><a class="menuItems" href="@Url.Action("ViewCategoryType", "Category")">Create Category</a></button>

